{{- if .Params.cover.image -}}
<meta name="twitter:card" content="summary_large_image">
{{- if (ne $.Params.cover.relative true) }}
<meta name="twitter:image" content="{{ .Params.cover.image | absURL }}">
{{- else }}
<meta name="twitter:image" content="{{ (path.Join .RelPermalink .Params.cover.image ) | absURL }}">
{{- end}}
{{- else }}
{{- $images := partial "templates/_funcs/get-page-images" . -}}
{{- with index $images 0 -}}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="{{ .Permalink }}">
{{- else -}}
<meta name="twitter:card" content="summary">
{{- end -}}
{{- end }}
<meta name="twitter:title" content="{{ .Title }}">
{{- $isEncrypted := or (and .File (in .File.Path "protected")) .Params.mima .Params.password -}}
{{- $twitterDescription := .Description -}}
{{- if not $twitterDescription -}}
  {{- if $isEncrypted -}}
    {{- $twitterDescription = (T "protected_summary") -}}
  {{- else if .IsPage -}}
    {{- $twitterDescription = .Summary -}}
  {{- else if site.Params.description -}}
    {{- $twitterDescription = site.Params.description -}}
  {{- end -}}
{{- end -}}
<meta name="twitter:description" content="{{ $twitterDescription | plainify | htmlUnescape | chomp }}">

{{- $twitterSite := "" }}
{{- with site.Params.social }}
  {{- if reflect.IsMap . }}
    {{- with .twitter }}
      {{- $content := . }}
      {{- if not (strings.HasPrefix . "@") }}
        {{- $content = printf "@%v" . }}
      {{- end }}
      <meta name="twitter:site" content="{{ $content }}">
    {{- end }}
  {{- end }}
{{- end }}
